@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/LINESeedSansTH/LINESeedSansTH.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.radix-themes {
	--color-background: transparent;
}

body {
	background-color: #373A71;
}

* {
	box-sizing: border-box !important;
	font-family: 'LINE Seed Sans TH', sans-serif !important;
}

.nav {
	@apply flex items-center flex-col content-center w-1/3 text-[#ABABAB] hover:text-[#5C5AA3] cursor-pointer transition-all;
}

.nav.active {
	@apply flex items-center flex-col content-center w-1/3 text-[#5C5AA3];
}

:root {
	touch-action: pan-x pan-y;
	height: 100%
}

.loader {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: block;
	margin: 15px auto;
	position: relative;
	color: #3e3c85;
	left: -100px;
	box-sizing: border-box;
	animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
	0% {
		box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
	}

	12% {
		box-shadow: 100px 0 #3e3c85, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
	}

	25% {
		box-shadow: 110px 0 #3e3c85, 100px 0 #3e3c85, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
	}

	36% {
		box-shadow: 120px 0 #3e3c85, 110px 0 #3e3c85, 100px 0 #3e3c85, 0px 0 rgba(255, 255, 255, 0);
	}

	50% {
		box-shadow: 130px 0 #3e3c85, 120px 0 #3e3c85, 110px 0 #3e3c85, 100px 0 #3e3c85;
	}

	62% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #3e3c85, 120px 0 #3e3c85, 110px 0 #3e3c85;
	}

	75% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #3e3c85, 120px 0 #3e3c85;
	}

	87% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #3e3c85;
	}

	100% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
	}
}
